@handler SW.Autofac.Home
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Simple.Web Autofac Error Example</title>
</head>
<body>
    <p>Page loaded...</p>
</body>
</html>
